.footer {
  height: 400px;
  display: flex;
  background-color: #232f3e;
  position: sticky;
  justify-content: space-evenly;
  color: #fff;
  overflow: hidden;
}

.footer__section {
  margin-top: 50px;
}

.footer__title {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}

.footer__section > p {
  margin-bottom: 8px;
  cursor: pointer;
}

.footer__link {
  margin-bottom: 8px;
  color: #fff;
}